*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:'Space Grotesk',sans-serif;

background:#ece5d8;

color:#111;

}

header{

position:sticky;
top:0;

display:flex;

justify-content:space-between;

align-items:center;

padding:30px;

background:rgba(236,229,216,.93);

backdrop-filter:blur(15px);

border-bottom:2px solid #222;

z-index:100;

}

.profile{

display:flex;

align-items:center;

gap:20px;

}

.profile img{

width:90px;

height:90px;

border-radius:50%;

object-fit:cover;

border:3px solid black;

}

.profile h1{

font-size:30px;

margin-bottom:8px;

}

.profile p{

max-width:500px;

opacity:.75;

}

.insta{

text-decoration:none;

padding:14px 28px;

background:black;

color:white;

border-radius:40px;

transition:.3s;

}

.insta:hover{

transform:translateY(-4px);

}

.gallery{

column-count:4;

column-gap:18px;

padding:25px;

}

.card{

margin-bottom:18px;

break-inside:avoid;

overflow:hidden;

border-radius:18px;

background:white;

box-shadow:0 12px 25px rgba(0,0,0,.12);

transition:.35s;

}

.card:hover{

transform:translateY(-6px);

}

.card img{

width:100%;

display:block;

}

@media(max-width:1200px){

.gallery{

column-count:3;

}

}

@media(max-width:800px){

.gallery{

column-count:2;

}

header{

padding:20px;

flex-direction:column;

gap:20px;

align-items:flex-start;

}

}

@media(max-width:500px){

.gallery{

column-count:1;

}

.profile img{

width:70px;

height:70px;

}

.profile h1{

font-size:24px;

}

}
